.w{
    margin: 0 auto;
}
.text-block{
    margin: 1px auto;
    border: 1px solid lightgray;
    width: 400px;
    height: 720px;
    position: relative;
}
.text-block-item{
    width: 400px ;
    height: 360px;
    background-image: url("../rasmlar/cam.jpg");
    background-size: 400px 360px;
    background-repeat: no-repeat;

}
.text-block-item-2{
    margin-top: 50px;
}
.a{
    margin-left: 35px;
    font-size: 20px;
}
.b{
    border: 1px solid greenyellow;
    width: 70px;
    text-align: center;
    background-color: greenyellow;
    margin-left: 150px;
    margin-top: -42px;
}
.text-block-item-3{
margin-left: 35px;
    margin-top: 55px;

}
.d{
    background-position: center center;
    line-height: 5px;
    font-size: 20px;
}
.wrap{
    text-align: center;
    width: 80px;
    height: 80px;
    border: 1px solid orange;
    border-radius: 50px;
    position: absolute;
    background-color: orange;
    color: white;
    margin-left: 318px;
}
.e{
    text-decoration: line-through;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -60px;
}
.f{
    font-size: 30px;
    margin-left: 200px;
    margin-top: -1px;
}
.wrap2 {
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: red;
    border: 1px solid red;
    color: white;
    background-position: center center;
    margin-left: 35px;
    margin-top: -5px;
    font-size: 35px;
}
.G{
    text-align: center;
    width: 70px;
    margin-left: 180px;
    border: 1px solid yellow;
    background-color: yellow;
    margin-top: -25px;
    font-size: 20px;
}
.h{
    margin-left: 260px;
    margin-top: -45px;
    font-size: 20px;
}